<div id="content">
    <h1><%= @choice_question.number %></h1>
    <p>
      <%= @choice_question.content %>
    </p>
    <p>
      
    </p>

  <%= link_to 'Edit question', edit_choice_question_path(@choice_question), remote: true, class: "btn btn-primary" %> </br>
</div>